div{text-align: center; font-size: 25px;}
.ima{
    width: 20rem;
}
html {font-family: sans-serif; text-align: center}
body {color: azure; background-color: black; display: inline-block; text-align: left;}
label, legend {font-weight: bold}
*:required, .obligatorio {border: thin solid blue}
input[type=number], .numero {text-align: right}
dfn {font-weight: bold}
br + output, fieldset + output, footer, form em {font-size: small}
fieldset p {margin: 0}
fieldset label, label * {font-weight: normal}
.error {color: red}
#head{
    display: inline-block;
}
#logo{
    height: 50px;
}